#include "../App.base.xcconfig"

APP_ENVIRONMENT_NAME = local-dev
APP_SWIFT_FLAGS = ENV_LOCAL_DEV
API_BASE_URL = http://localhost:8000/api/v1
DOCS_BASE_URL = http://developer.localhost
PORTAL_URL = http://admin.localhost
TELEMETRY_URL = http://localhost:4318
HEALTH_CHECK_TOKEN = local-dev-token
USE_MOCK_DATA = YES
LOG_LEVEL = DEBUG

#include? "../Secrets/LocalDev.secrets.xcconfig"

